@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,400&display=swap');

:root{
    --primary-color:#1E3A8A;
    --other-color:#A78BFA;
    --owcolor:#DBEAFE;
    --bgcolor:#FBCFE8;
}

body{
    font-family: 'Lora', serif;

}



::selection {
    color: red;
    background: yellow;
  }

hr{
    margin: 2rem 0rem;
}

.container-fluid{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 600px;
    margin:auto;
}

.link{
    text-decoration: none;
    padding:0.5rem 1rem;

    
    
}


.link-active{
    font-weight: bold;
    font-size: large;
    font-weight: bold;
}

.link-primary{
    color: var(--primary-color);
   background-color:var(--primary-color);
   color:white;
   border-radius: 0.5rem;
   padding: 0.5rem;

    
}
 .link-secondary{
     border-radius: 0.5rem;
      border: 1px solid var(--primary-color);
}

.list-non-bullet{
    list-style: none;
}

.list-non-bullet-inline{
display: inline;

}
.list-item-inline{
display: inline;
padding:1rem 0.5rem;                                 
}

.navigation{
    background-color:var(--primary-color);
    padding: 1rem;
    color: white;
    border-bottom-left-radius: 1rem;
    max-width: 100%;
    display: block;
    margin: auto;

    /* position: fixed;
top: 0;
width: 100%; */
   
}

.navigation .link{
    color:white;
    text-decoration-style:solid;
    font-weight:bold ;
    
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link-active{
    font-weight: bold
}
.hero{
    font:1rem;
}

.hero .hero-image{
    max-width: 350px;
    max-width: 100%;
    margin:auto;
    display:block;
    padding-top: 5rem;
 }

 .hero .hero-heading{
     font: outline;
     text-align: center;
     border-left-width: 40%;
     color:var(--other-color);
     padding-top: 1rem;
 }
 .hero .highlight{
     color: var(--primary-color);
 }

 .section{
     padding: 0.5rem 2rem;
     padding-bottom: 2rem;
 }
 .section h1{
     text-align: center;
     

 }
  .ow{
 background-color: var(--owcolor);
  }

 .footer{
     background-color: var(--primary-color);
     padding: 2rem 1rem;
     text-align:center;
     border-bottom-right-radius: 1rem;
     border-width: 2ch;
     
 }
 .footer .footer-header{
    font-weight: bold;
    font-size: large;
    color: white;
 }

 .footer .link{
     color:white;
     text-align: center;

 }
 .footer ul{
    padding-inline-start: 0px;
 }
 div.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  strong{
      
      font: outline;
      color: #1E3A8A;
  }